* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #fff;
    font: 14px Arial, sans-serif;
}

.container {
    height: 800px;
    width: 500px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #01036e));
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.bottom-snow {
    position: absolute;
    z-index: 5;
    top: 666px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 500px;
    background: #e2e2e2;
    border-radius: 50%;
}

.bottom-snow:before {
    background-color: #fff;
    content: "";
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: -25px;
    border-radius: 1000px;
    left: 400px;
}

.bottom-snow:after {
    background-color: #fff;
    content: "";
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: -25px;
    border-radius: 1000px;
    right: 400px;
}

h1 {
    color: #fafafa;
    font: bold 80px Arial;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
}

.smaller {
    color: #fafafa;
    font: bold 60px Arial;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
}

.smallerGreece {
    color: #fafafa;
    font: bold 50px Arial;
    text-align: center;
    text-transform: uppercase;
    margin-top: 70px;
}

.tree {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid green;
    left: 213px;
    top: 330px;
}

.tree:before {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid green;
    left: -60px;
    top: 26px;
}

.tree:after {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 80px solid green;
    left: -80px;
    top: 64px;
}

.tree-bottom {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid green;
    left: 153px;
    top: 441px;
}

.tree-bottom:before {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid green;
    left: -120px;
    top: 48px;
}

.tree-bottom:after {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 140px solid green;
    left: -140px;
    top: 93px;
}

.bauble-lg-1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 603px;
    left: 244px;
    background-image: url(./images/flags/uk.svg);
    outline: none;
}

.bauble-lg-2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 579px;
    left: 184px;
    background-image: url(./images/flags/france.svg);
    outline: none;
}

.bauble-lg-3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 562px;
    left: 290px;
    background-image: url(./images/flags/pl.svg);
    outline: none;
}

.bauble-md-1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 533px;
    left: 235px;
    background-image: url(./images/flags/spain.svg);
    outline: none;
}

.bauble-md-2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 489px;
    left: 208px;
    background-image: url(./images/flags/germany.svg);
    outline: none;
}

.bauble-md-3 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 497px;
    left: 279px;
    background-image: url(./images/flags/russia.svg);
    outline: none;
}

.bauble-sm-1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 262px;
    background-image: url(./images/flags/greece.svg);
    outline: none;
}

.bauble-sm-2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 430px;
    left: 225px;
    background-image: url(./images/flags/italy.svg);
    outline: none;
}

.bauble-sm-3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 390px;
    left: 255px;
    background-image: url(./images/flags/sweden.svg);
    outline: none;
}

.falling-snow {
    background-image: url('./images/snow/snow1.png'), url('./images/snow/snow2.png'), url('./images/snow/snow3.png');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px}
}

.pulse {
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: .5;
}

@keyframes pulse {
    0% {opacity: .5; transform: scale(.95)}
    50% {opacity: 1; transform: scale(1.05);}
    100% {opacity: .5; transform: scale(.95)}
}