* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    color: #fff;
    font: 14px Arial, sans-serif;
}

.container {
    height: 500px;
    width: 800px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #fff),color-stop(1, #0093d8));
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.bottom-snow {
    position: absolute;
    z-index: 5;
    top: 400px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    height: 500px;
    background: #e2e2e2;
    border-radius: 50%;
}

.bottom-snow:before {
    background-color: #fff;
    content: "";
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: -25px;
    border-radius: 1000px;
    left: 400px;
}

.bottom-snow:after {
    background-color: #fff;
    content: "";
    height: 1000px;
    width: 1000px;
    position: absolute;
    top: -25px;
    border-radius: 1000px;
    right: 400px;
}

h1 {
    color: #fafafa;
    font: bold 80px Arial;
    text-align: center;
    text-transform: uppercase;
}

.tree {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid green;
    left: 390px;
    top: 135px;
}

.tree:before {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid green;
    left: -40px;
    top: 15px;
}

.tree:after {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid green;
    left: -60px;
    top: 40px;
}

.tree-bottom {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 80px solid green;
    left: 330px;
    top: 210px;
}

.tree-bottom:before {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid green;
    left: -100px;
    top: 40px;
}

.tree-bottom:after {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 40px;
    content: "";
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 120px solid green;
    left: -120px;
    top: 80px;
}

.bauble-lg-1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 345px;
    left: 390px;
    background-image: url(./images/flags/uk.svg)
}

.bauble-lg-2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 325px;
    left: 340px;
    background-image: url(./images/flags/france.svg);
}

.bauble-lg-3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 325px;
    left: 440px;
    background-image: url(./images/flags/spain.svg);
}

.bauble-md-1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 290px;
    left: 394px;
    background-image: url(./images/flags/pl.svg);
}

.bauble-md-2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 265px;
    left: 360px;
    background-image: url(./images/flags/germany.svg);
}

.bauble-md-3 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 265px;
    left: 430px;
    background-image: url(./images/flags/russia.svg);
}

.bauble-sm-1 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 400px;
    background-image: url(./images/flags/greece.svg);
}

.bauble-sm-2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 220px;
    left: 380px;
    background-image: url(./images/flags/italy.svg);
}

.bauble-sm-3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 220px;
    left: 420px;
    background-image: url(./images/flags/sweden.svg);
}

.falling-snow {
    background-image: url('./images/snow/snow1.png'), url('./images/snow/snow2.png'), url('./images/snow/snow3.png');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px}
}